<p-panel header="Pipes numericos" class="p-1">
    <p>
      Pipes incluídos en Angular - Usualmente en el Common Module
    </p>
  </p-panel>
  
  
  <div class="grid">
  
    <div class="col-12 md:col-4">
      <p-card header="ventas netas">
        {{ (totalSells + 1254) | number:'1.6-6' }}
      </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="ventas brutas">
          {{ totalSells | currency:'USD':'symbol':'1.4-4' }}
        </p-card>
      </div>

      <div class="col-12 md:col-4">
        <p-card header="Ganacia porcentual ">
          {{ percent | percent:'1.2-2' }}
        </p-card>
      </div>
  </div>